* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner {
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.6)
    ),
    url("bar.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
    .logo {
        width: 400px;
    }
}
.cocktail-title {
    color: #fff;
    letter-spacing: 4px;
    font-weight: 100;
    padding-bottom: 1em;
}
.card-cocktail {
    color: #fff;
    font-weight: 100;
    text-align: center;
    cursor: pointer;
}

.box-cocktail {
    box-shadow: 0px 0px 10px rgba(146, 146, 146, 0.2);

}

.card-image {
    min-height: 200px;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.5)
    ),
    url("cocktail1.jpg");
    background-size: cover;
    background-position: center;
}


.fa-plus, .fa-arrow-circle-left, .fa-pencil-alt, .fa-trash, .fa-facebook-square, .fa-instagram, .fa-twitter{
    color: #fff;
}
.fa-times {
    color: rgba(255, 255, 255, 0.288);
}

.back-black {
    background-color: black;
}

a:hover {
    text-decoration: none;
}